<div class="cl-flex cl-flex-col cl-flex-shrink-0 cl-w-7 __ed9e7
  cl-overflow-hidden cl-transition-all cl-duration-500 cl-ease-out-exp
  cl-border-solid cl-border-0 cl-border-r cl-border-pale-grey

  inverse">

    <div class="cl-flex cl-items-center cl-justify-start cl-h-9 cl-border-solid cl-border-0 cl-border-b cl-border-pale-grey cl-mb-2">
        <img class="cl-flex-shrink-0 cl-w-5 cl-mx-1 cl-rounded" src="/img/logo-white.svg" alt="latifa">
        <h2 class="cl-truncate cl-w-full cl-mr-1 cl-title-3">latifa</h2>
    </div>

    <nav class="cl-flex-1 cl-overflow-x-hidden cl-overflow-y-auto">

        <div id="v2-side-navbar">

        </div>
        <div id="v2-side-navbar-index">
            <a href="/dashboard" class="__30abc cl-flex cl-items-center cl-justify-start   sidenav_item">
                <i class="material-icons __cce36    cl-relative " style="font-size: 24px;">


                    <!---->

                </i>
                <span>
            Dashboard
          </span>
                <div class="__3fc03  waves-effect">
                </div>
            </a>


            <a href="/engagements" class="__30abc cl-flex cl-items-center cl-justify-start active  sidenav_item">
                <i class="material-icons __cce36    cl-relative " style="font-size: 24px;">
                    group


                    <!---->

                </i>
                <span>
            Engagements
          </span>
                <div class="__3fc03  waves-effect">
                </div>
            </a>


            <a href="/resources" class="__30abc cl-flex cl-items-center cl-justify-start   sidenav_item">
                <i class="material-icons __cce36    cl-relative " style="font-size: 24px;">
                    photo_album


                    <!---->

                </i>
                <span>
            Resources
          </span>
                <div class="__3fc03  waves-effect">
                </div>
            </a>


            <!---->
            <!---->
            <a href="/clients" class="__30abc cl-flex cl-items-center cl-justify-start   sidenav_item">
                <i class="material-icons __cce36    cl-relative " style="font-size: 24px;">
                    work


                    <!---->

                </i>
                <span>
            Clients
          </span>
                <div class="__3fc03  waves-effect">
                </div>
            </a>


            <!---->
            <a href="/invoices" class="__30abc cl-flex cl-items-center cl-justify-start   sidenav_item">
                <i class="material-icons __cce36    cl-relative " style="font-size: 24px;">
                    receipt


                    <!---->

                </i>
                <span>
            Invoices
          </span>
                <div class="__3fc03  waves-effect">
                </div>
            </a>


            <a href="/reports" class="__30abc cl-flex cl-items-center cl-justify-start   sidenav_item">
                <i class="material-icons __cce36    cl-relative " style="font-size: 24px;">
                    insert_chart


                    <!---->

                </i>
                <span>
            Reports
          </span>
                <div class="__3fc03  waves-effect">
                </div>
            </a>


            <a href="/settings/basic-info" class="__30abc cl-flex cl-items-center cl-justify-start   sidenav_item">
                <i class="material-icons __cce36    cl-relative " style="font-size: 24px;">
                    settings


                    <!---->

                </i>
                <span>
              Company Settings
            </span>
                <div class="__3fc03  waves-effect">
                </div>
            </a>


            <!---->      </div>

    </nav>

    <button class="__30abc cl-flex cl-items-center cl-justify-start focus:cl-outline-none  sidenav_item" type="button">
        <i class="material-icons __cce36    cl-relative " style="font-size: 24px;">
            chevron_right


            <!---->

        </i>
        <span>
        Open
    </span>
        <div class="__3fc03  waves-effect">
        </div>
    </button>

</div>