<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}">

</head>
<body>
<table>
    <tr>
        <th>first name</th>
        <th>last name</th>
        <th>phone Number</th>
        <th>profile Summary</th>
        <th>education</th>
    </tr>
    <tr th:each="c:${listcoaches}">
        <td th:text="${c.firstName}"></td>
        <td th:text="${c.lastName}"></td>
        <td th:text="${c.phoneNumber}"></td>
        <td th:text="${c.profileSummary}"></td>
        <td th:text="${c.education}"></td>
    </tr>

</table>
</body>
</html>