<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie" lang="en">
<![endif]-->
<html lang="en">

<head>

</head>

<body>
<!-- Preloader -->

<!-- End Scroll Top Button -->
<!-- Nav Section -->

<!-- End Nav Section -->
<!-- Hero Section -->
<div>Please confirm your email!</div>
<!-- End Hero Section -->
<!-- Single Service Section -->
<!-- Single Service Section -->
<!-- Project Section -->

<!-- End Project Section -->
<!-- Call To Action Section -->

<!-- End Call To Action Section -->
<!-- Testimonials Section -->

<!-- End Testimonials Section -->
<!-- Clients Section -->

<!-- End Clients Section -->
<!-- Footer Section -->

<!-- Ends Footer Section -->
<!-- Copyright Section -->

</body>

</html>
